# Data
/experiments/
/data/


# cache
__pycache__/
*.ini

# project
output/
report/
preview/

*.obj
*.png
*.pdf
*.npy
*.mp4
*.sh

# blender
*.blend
*.blend1

# metadata
.DS_Store

# local config
typings/
pyrightconfig.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env

# Build artifacts
dist/
build/


*.egg*
